<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PagueWay: o seu blog sobre soluções de pagamento</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/styles.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">


    <script type="text/javascript">
        function downloadEbook() {
            document.getElementById('id01').style.display = 'block'

            var leadtype = document.getElementById('Lead');
            leadtype.style.display = 'inline';

            var leadform = document.getElementById('LeadForm');
            leadform.style.display = 'none';
        }

        window.onload = function () {

            var open = window.localStorage.getItem('firstTime');
            if (open != 'true') {
                document.getElementById('id01').style.display = 'block';
            }

            var mail = window.localStorage.getItem('MailSended');
            if (mail == 'true') {
                alert("Verifique sua caixa de email. Enviamos um e-Book sensacional!");
                localStorage.setItem("MailSended", "false");
            }

        }
    </script>
</head>

<body>

    @Html.Partial("popup")

    <nav id="top-nav-container">
    
    </nav>

    <header id="main-header-container">
        <div id="main-header" class="section-content">
            <div class="vertical-align-container">
                <div class="vertical-align">
                    <div id="main-header-content">
                        <span id="main-header-pagueway">PagueWay</span>
                        <h1 id="main-header-pagueway-subtitle">O melhor conteúdo para seu e-commerce.</h1>

                        @*<a id="main-header-pagueway-ebook-button" href="@Url.Action("Create", "BlogLeads")" target="_blank">Baixar e-book gratuito</a>*@



                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="main-section-container">
                    
        <div id="main-section" class="section-content">
            <div class="row">
                <div id="content" class="col-sm-9">
                    @RenderBody()

                </div>

                <aside id="side-bar" class="col-sm-3">
                    @Html.Partial("sidebar")
                </aside>

            </div>

            @Html.Partial("CTA")


        </div>
    </section>
    <footer id="main-footer-container">
        <div id="main-footer" class="section-content">
            <p>© @DateTime.Now.Year PagueWay</p>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scripts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>