@{
//Layout = null;
}

<a href="@Url.Action("Index","Home")">Inicio</a>

<h2>Mais Recentes</h2>
<nav>
    <ul>
        <li>
            <a href="@Url.Action("a-evolucao-das-ferramentas-de-e-commerce", "artigos")">A Evolução das Ferramentas de E-commerce</a>
        </li>
        <li>
            <a href="@Url.Action("como-vender-os-produtos-da-sua-loja-pela-internet", "artigos")">Como vender os produtos da sua loja pela internet?</a>
        </li>
        <li>
            <a href="@Url.Action("o-sucesso-dos-e-commerces-em-datas-especiais", "artigos")">O Sucesso dos e-commerces em datas especiais</a>
        </li>
        <li>
            <a href="@Url.Action("por-que-muitas-lojas-fisicas-ainda-nao-vendem-online", "artigos")">Por que muitas lojas físicas ainda não vendem online?</a>
        </li>
        <li>
            <a href="@Url.Action("tendencias-do-e-commerce", "artigos")">Tendências do E-commerce</a>
        </li>
        <li>
            <a href="@Url.Action("varejista-voce-ja-pensou-nos-beneficios-de-vender-em-ambiente-online", "artigos")">Varejista: Você já pensou nos benefícios de vender em ambiente online?</a>
        </li>
    </ul>
</nav>
<h2>Mais lidos</h2>
<nav>
    <ul>
        <li>
            <a href="@Url.Action("como-vender-os-produtos-da-sua-loja-pela-internet", "artigos")">Como vender os produtos da sua loja pela internet?</a>
        </li>
        <li>
            <a href="@Url.Action("varejista-voce-ja-pensou-nos-beneficios-de-vender-em-ambiente-online", "artigos")">Varejista: Você já pensou nos benefícios de vender em ambiente online?</a>
        </li>
        <li>
            <a href="@Url.Action("tendencias-do-e-commerce", "artigos")">Tendências do E-commerce</a>
        </li>
    </ul>
</nav>
@*<h2>Categorias</h2>
<nav>
    <ul>
        <li>
            <a href="#">Categoria 1</a>
        </li>
        <li>
            <a href="#">Categoria 2</a>
        </li>
        <li>
            <a href="#">Categoria 3</a>
        </li>
        <li>
            <a href="#">Categoria 4</a>
        </li>
    </ul>
</nav>*@


<div class="row-fluid">
    <div id="registerForm">
        @*<form>
            <fieldset class="form-fields-margin form-group">
                <h3>Assine Aqui</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
                    sagittis risus non, suscipit nulla
                </p>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <button type="submit" class="btn btn-default">Receber Novidades</button>
            </fieldset>
        </form>*@
    </div>
</div>
<br />
