@model Gama.GrupoAvengers.Blog.BlogLead

@{
    Layout = null;
    ViewBag.Title = "Landing Page";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="css/landingPage.css">*@
    <link href="~/Content/landingPage.css" rel="stylesheet" />


    <script>
    function selectOption(type) {
        var leadtype = document.getElementById('Lead').style.display = 'none';

        var leadform = document.getElementById('LeadForm').style.display = 'inline';


        var leadtype = document.getElementById('type1').style.display = 'none';
        var leadtype = document.getElementById('type2').style.display = 'none';
        var leadtype = document.getElementById('type3').style.display = 'none';
        var leadtype = document.getElementById('type4').style.display = 'none';


        if (type == "1") {
            var leadtype = document.getElementById('type1').style.display = 'inline';

        }
        else if (type == "2") {
            var leadtype = document.getElementById('type2').style.display = 'inline';

        }
        else if (type == "3") {
            var leadtype = document.getElementById('type3').style.display = 'inline';

        }
        else if (type == "4") {
            var leadtype = document.getElementById('type4').style.display = 'inline';

        }
    }

    function SendLead() {
        localStorage.setItem("MailSended", "true");
        window.localStorage.setItem('firstTime', 'true');
    }




    </script>
</head>
<body>
    <div class="container-fluid bg header">
    </div>
    <div class="container-fluid bg conteudo">
        <div class="row">
            <div class="col-sm-6 bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg logo">
                            <div class="logoPagueWay">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 bg tablet">
                    </div>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="bg formulario">
                                <div class="form-group">
                                    @*@Html.TextBoxFor(model => model.Name)*@
                                    <h4>Preencha os dados para receber grátis o nosso e-book !</h4>
                                </div>
                                <div class="form-group">
                                    <div>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Nome", @required = "true", @Class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <di>
                                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @placeholder = "Sobrenome", @required = "true", @Class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                                    </di>
                                </div>

                                <div class="form-group">
                                    <di>
                                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @placeholder = "Empresa (Opcional)", @Class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                    </di>
                                </div>

                                <div class="form-group">
                                    <di>
                                        @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @placeholder = "Cargo (Opcional)", @Class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                                    </di>
                                </div>

                                <div class="form-group">
                                    <div>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Seu melhor Email", @required = "true", @type = "email", @Class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <h2>Você é?</h2>
                                @Html.RadioButton("LeadType", "1", new { @class = "btn-primary", @onclick = "selectOption(1)" }) Empreendedor e já possui uma loja virtual
                                <br>
                                @Html.RadioButton("LeadType", "2", new { @class = "btn-primary", @onclick = "selectOption(2)" }) Empreendedor e deseja vender seus produtos/serviços na internet
                                <br>
                                @Html.RadioButton("LeadType", "3", new { @class = "btn-primary", @onclick = "selectOption(3)" }) Empreendedor e deseja ampliar sua conversão de vendas e reduzir custos
                                <br>
                                @Html.RadioButton("LeadType", "4", new { @class = "btn-primary", @onclick = "selectOption(4)" }) Não empreendedor e deseja apenas ter conhecimento sobre e-commerce


                                <div class="form-group ">
                                    <button class="btn btn-primary" onclick="SendLead()">Enviar</button>

                                    @*<input type="button" name="" value="Enviar" class="btn btn-primary">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
</body>
</html>